# Superuser credentials for Django
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

# Influxdb credentials
DOCKER_INFLUXDB_INIT_ORG=
DOCKER_INFLUXDB_INIT_BUCKET=
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=
DOCKER_INFLUXDB_HOST_TYPE=
DOCKER_INFLUXDB_HOST=
DOCKER_INFLUXDB_PORT=